# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/.pnp
.pnp.js

# testing
/coverage
/node_modules
# production


# misc



yarn-debug.log*
yarn-error.log*
